/* Message.css */

.messageContainer {
    /* Display and sizing */
    display: flex;
    flex-shrink: 0;
    width: 100%;
    
    /* One space for layout */
    flex-direction: row;
    align-items: flex-start;
}

.messageContentContainer {
    /* Display and sizing */
    display: flex;
    
    /* One space for layout */
    flex-direction: column;
    margin-left: 15px;
}

.userImage {
    /* Display and sizing */
    aspect-ratio: 1;
    height: 35px;
}

.messageNameTimeContainer {
    /* Display and sizing */
    display: flex;
    
    /* One space for layout */
    align-items: center;
    gap: 10px;
    
    /* Font */
    font-size: 14px;
}

.messageName {
    /* Font */
    font-weight: 500;
}

.messageTime {
    /* Font */
    font-size: 12px;
    color: #7d7e87;
}

.messageContent {
    /* Font */
    font-family: Ginto;
    
    /* Text handling */
    white-space: pre-wrap;
    word-break: break-word;
}