/* Skeleton */

.userNamePlaceholder {
    /* Display and sizing */
    width: 150px;
    height: 17.5px;
    
    /* Visual */
    border-radius: 25px;
}

.userImagePlaceholder,
.userContainer img {
    /* Display and sizing */
    height: 35px;
    width: 35px;
    
    /* One space for layout */
    margin-left: 15px;
    
    /* Visual */
    border-radius: 50%;
}

.userContainer,
.userContainerPlaceholder {
    /* Display and sizing */
    display: flex;
    height: 50px;
    width: 100%;
    
    /* One space for layout */
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
}

.userContainer:hover {
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-secondary-highlight);
}

.userContainer.selected {
    /* One space for layout */
    padding-left: 5px;
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-secondary-active);
}