/* ====================== LAYOUT ====================== */
.pageContainer {
    /* Display and sizing */
    display: flex;
    height: 100vh;
    
    /* One space for layout */
    justify-content: center; 
    align-items: center;
    
    /* Font */
    color: var(--text-primary);
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--background-primary);
}

/* ====================== CARD COMPONENT ====================== */
.cardContainer {
    /* Display and sizing */
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    
    /* One space for layout */
    align-items: center;
    padding: 25px;
    
    /* Visual */
    border-radius: 10px;
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-primary);
}

/* ====================== TEXT ELEMENTS ====================== */
.header,
.subText {
    /* One space for layout */
    margin-bottom: 15px;
}

.subText {
    /* Font */
    font-size: 12.5px;
    color: var(--text-secondary);
}

/* ====================== FORM ELEMENTS ====================== */
.formContainer {
    /* Display and sizing */
    width: 90%;
}

.inputElement {
    /* Display and sizing */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55px;
    
    /* One space for layout */
    margin-bottom: 25px;
}

.inputElement input {
    /* Display and sizing */
    height: 100%;
    
    /* Box model */
    padding: 15px;
    
    /* Visual */
    border: 1px solid var(--theme-border);
    border-radius: 5px;
    
    /* Font */
    color: var(--text-primary);
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-secondary);
}

.inputElement label {
    /* Font */
    font-size: 12.5px;
    font-weight: bold;
    
    /* One space for layout */
    margin-bottom: 5px;
}

/* ====================== BUTTONS ====================== */
.submitButtonContainer {
    /* Display and sizing */
    height: 35px;
    
    /* One space for layout */
    margin-bottom: 10px;
}

/* ====================== TOGGLE AUTH ====================== */
.toggleAuth {
    /* Display and sizing */
    display: flex;
    
    /* One space for layout */
    align-items: center;
}

.toggleAuth label {
    /* Font */
    color: var(--text-secondary);
    font-size: 11px;
    
    /* One space for layout */
    margin-right: 5px;
}

.toggleAuth button {
    /* Display and sizing */
    height: 100%;
    
    /* Font */
    font-size: 12px;
    
    /* Visual */
    border: 0;
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: transparent;
}

.toggleAuth button:hover {
    /* Text decoration */
    text-decoration: underline;
}

.toggleAuth a {
    /* Font */
    color: inherit;
    
    /* Text decoration */
    text-decoration: none;
}