/* ====================== LAYOUT ====================== */
.container {
    /* Display and sizing */
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: minmax(150px, 250px) 1fr;
    grid-template-areas: 
        "headerSidebar header"
        "sidebar content"
        "accountSidebar inputContent";

    background-color: var(--theme-primary);
}

.container > * {
    /* Display and sizing */
    height: 100%;
}

/* ====================== HEADER AREAS ====================== */
.headerSidebar {
    /* Grid placement */
    grid-area: headerSidebar;
    
    /* Display and sizing */
    display: flex;
    
    /* Box model */
    box-sizing: border-box;
    
    /* One space for layout */
    justify-content: center;
    align-items: center;
    
    /* Visual */
    border-bottom: 1px solid var(--theme-border);
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-secondary);
}

.header {
    /* Display and sizing */
    display: flex;
    
    /* Box model */
    box-sizing: border-box;
    
    /* Visual */
    border-bottom: 1px solid var(--theme-border);
}

/* ====================== SIDEBAR AREAS ====================== */
.sidebar {
    /* Grid placement */
    grid-area: sidebar;
    
    /* Display and sizing */
    display: flex;
    flex-direction: column;
    
    /* Overflow */
    overflow-y: auto;
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-secondary);
}

.accountSidebar {
    /* Grid placement */
    grid-area: accountSidebar;
    
    /* Display and sizing */
    display: flex;
    
    /* One space for layout */
    align-items: center;
    
    /* Visual */
    border: 1px solid var(--theme-border);
    border-top-right-radius: 10px;
    
    /* Box model */
    box-sizing: border-box;
}

/* ====================== USER ELEMENTS ====================== */
.userInfo {
    /* Display and sizing */
    display: flex;
    height: 100%;
    
    /* One space for layout */
    align-items: center;
    margin-left: 5px;
    gap: 10px;
}

.accountButtons {
    /* Display and sizing */
    display: flex;
    
    /* Positioning */
    position: relative;
    
    /* One space for layout */
    margin-left: auto;
    margin-right: 25px;
    gap: 15px;
}

.accountSettings {
    /* Display and sizing */
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 275px;
    
    /* Positioning */
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    /* Visual */
    border: 1px solid var(--theme-border);
    border-radius: 10px;
    
    /* Index */
    z-index: 10;
}

/* ====================== MESSAGE AREAS ====================== */
.content {
    /* Grid placement */
    grid-area: content;
    
    /* Display and sizing */
    display: flex;
    flex-direction: column;
    
    /* One space for layout */
    padding-left: 15px;
    
    /* Overflow */
    overflow-y: auto;
    
    /* Box model */
    box-sizing: border-box;
}

.inputContent {
    /* Grid placement */
    grid-area: inputContent;
}

/* ====================== FORM ELEMENTS ====================== */
.headerSidebar input {
    /* Display and sizing */
    width: 90%;
    height: 40%;
    
    /* Box model */
    padding: 5px;
    
    /* Font */
    text-align: center;
    
    /* Visual */
    border: 1px solid var(--theme-border);
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-secondary-highlight);
}

.inputContainer {
    /* Display and sizing */
    display: flex;
    height: 100%;
    
    /* One space for layout */
    justify-content: center;
}

.inputContainer input {
    /* Display and sizing */
    width: 95%;
    height: 80%;
    
    /* Box model */
    padding-left: 15px;
    
    /* Visual */
    border: 1px solid var(--theme-border);
    border-radius: 5px;
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-complementary);
}

/* ====================== IMAGE STYLES ====================== */
img {
    /* Display and sizing */
    height: 70%;
    max-width: 100%;
}

.userInfo img {
    /* Display and sizing */
    height: 70%;
}

.settingsImage,
.logoutImage {
    /* Display and sizing */
    min-width: 20px;
    min-height: 20px;
    max-width: 25px;
    max-height: 20px;
}

/* ====================== BUTTON STYLES ====================== */
.accountButtons button {
    /* Display and sizing */
    display: flex;
    width: 25px;
    height: 25px;
    
    /* One space for layout */
    align-items: center;
    justify-content: center;
    
    /* Visual */
    border: 0;
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: transparent;
}

.accountButtons button:hover {
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-secondary-highlight);
}

.accountButtons button:active {
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-secondary-active);
}

/* ====================== SETTINGS MODAL ====================== */
.lilBackground {
    /* Display and sizing */
    min-height: 100px;
    
    /* Visual */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: #41392e;
}

.userContent {
    /* Display and sizing */
    flex: 1;
    display: flex;
    flex-direction: column;
    
    /* One space for layout */
    align-items: center;
    
    /* Visual */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-primary);
}

.pfpContainer,
.pfpContainerPlaceholder {
    /* Display and sizing */
    display: flex;
    width: 100px;
    height: 100px;
    
    /* One space for layout */
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    
    /* Visual */
    border-radius: 50%;
    
    /* "Deep visual" like backgrounds, transitions... */
    background-color: var(--theme-primary);
}

.pfpContainer img {
    /* Display and sizing */
    height: 90%;
    width: 90%;
    
    /* Visual */
    border-radius: 50%;
}

/* ====================== UTILITY CLASSES ====================== */
.sidebarUserContainer {
    /* One space for layout */
    margin-top: 5px;
}

.content > .messageContainer:first-child {
    /* One space for layout */
    margin-top: auto;
}

.pfpContainerPlaceholder {
    /* Positioning */
    position: absolute;
    
    /* One space for layout */
    margin: 0;
}

.userContent span {
    /* Font */
    font-size: 20px;
    font-weight: 500;
}

.pfpButtonContainer {
    /* Display and sizing */
    display: flex;
    width: 80%;
    height: 30px;
    
    /* One space for layout */
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}